
<!-- <div id="placeholdersection">
    1455
</div> -->
<div id="placeholdersection1">
    
</div>
{#
<div>
    {% set doc = frappe.get_doc('Task', 'TASK-2022-00001') %}
    {% set doc1 = frappe.get_doc('Project', doc.project  ) %}
    Project:  {{ doc1.project_name }} 
    <br>
    {{ doc._assign }} - {{ doc.subject }} - {{ doc.status }}
</div>

<div>
    {% set subject, description = frappe.db.get_value('Task', 'TASK-2022-00001', ['subject', '_assign']) %}
    <h3>{{ subject }}</h3>
    <p>{{ description }}</p>
    {% if frappe.session.user in description  %}
            hello
        {% else %}
            bye
        {% endif %}
</div>
<div>
    {% set tasks = frappe.get_all('Task', filters={'status':('in',['Open','Completed'])}, fields=['subject', '_assign'], order_by='subject asc') %}
    {% for task in tasks %}
    <!-- ('!=','Cancelled') -->
        <div>
        <h3></h3>
        <p>Due Date: {{ task.subject }} {{ task._assign }}</p>
        
    </div>
    {% endfor %}
</div>
#}
