<!-- <footer class="web-footer">
    <div class="container-fluid text-center" >
        <div class="d-flex flex-column flex-md-row">
            <div class="col align-items-center d-flex flex-column  ">
                <div class="d-flex flex-column mw300  mb-3 ">
                    <div class="d-flex mb-3  flex-column ">
                        <div  class="font-weight-bold footer-txt">CALL US</div>
                        <div>+673 233 2846</div>
                    </div>
                    <div class="flex-column">
                        <div  class="font-weight-bold footer-txt">STORE LOCATION</div>
                        <div class="text-justify">Ground Floor, Unit 7 & 8, Block B, Aman Hills Complex, Jalan Aman, Kg Sg Tilong BC3315 Bandar Seri Begawan, Brunei</div>
                    </div>
                </div>
            </div>
            <div class="col d-flex  flex-column ">
                <div  class="font-weight-bold footer-txt">EMAIL US</div>
                <div class="mb-3">marketing@kensingtonbn.com</div>
    
                <div  class="font-weight-bold  footer-txt">WORKING&nbsp;HOURS</div>
                <div>Monday– Sunday
                    <br>10:30 AM – 5:45 PM
                    <br>Friday
                    <br>closed between 12 pm to 2 pm</div>
            </div>
            <div class="col d-flex flex-column mb-3 ">
                <div class="d-flex  flex-column ">
                    <div  class="font-weight-bold">INFORMATION</div>
                    <a href="">Policy</a>
                    <a href="">About us</a>
                    <a href="">Check out</a>
                    <a href="">Contact</a>
                </div>
    
            </div>
            <div class="col d-flex flex-column mb-3 ">
                <div class="d-flex  flex-column ">
                    <div  class="font-weight-bold">MY ACCOUNT</div>
                    <a href="/pages/products_table">My Account</a>
                    <a href="/pages/upload_order">Contact</a>
                    <a href="/about">Shopping cart</a>
                    <a href="/contact">Shop</a>
                </div>
            </div>
        </div>
        

    </div>
    {% include "templates/includes/footer/footer_links.html" %}
    {% include "templates/includes/footer/footer_info.html" %}

</footer> -->
<footer class="page-footer dark">
    <!-- <div class="container">
        <div class="row1 d-flex flex-column flex-sm-row">
            <div class="col-sm-3 d-flex flex-column align-items-center align-items-sm-start">
                <h5>Get started</h5>
                <ul class="text-center text-sm-left ">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Downloads</a></li>
                </ul>
            </div>
            <div class="col-sm-3 d-flex flex-column align-items-center align-items-sm-start">
                <h5>About us</h5>
                <ul class="text-center text-sm-left ">
                    <li><a href="#">Company Information</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Reviews</a></li>
                </ul>
            </div>
            <div class="col-sm-3 d-flex flex-column align-items-center align-items-sm-start">
                <h5>Support</h5>
                <ul class="text-center text-sm-left ">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help desk</a></li>
                    <li><a href="#">Forums</a></li>
                </ul>
            </div>
            <div class="col-sm-3 d-flex flex-column align-items-center align-items-sm-start">
                <h5>Legal</h5>
                <ul class="text-center text-sm-left ">
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div> -->
    <div class="footer-copyright">
        <p>ClefinCode L.L.C-FZ</p>
    </div>
</footer>